
<!DOCTYPE ejs>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">    
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<link rel="stylesheet" href="resources/css/register.css">


</head>
<body>
    <div class="container">
        <div class="card card-container">
            <h2 class="login-register-title">Register</h2>            
            <p id="profile-name" class="profile-name-card"></p>
            <form class="form-signin" method="post" action="/user/post" id="registerForm">
<!-- USERNAME ===================== -->
                <span id="reauth-email" class="reauth-email"></span>
                <input type="text" name="username" id="login__username" class="form-control input__field" placeholder="Username" required>
                <div id="userValid"></div>			
<!-- PASSWORD ===================== -->
				<input type="password"  class="form-control input__field" id="password01" name="passphrase" placeholder="Password" required>
				<div id="passwordValid"></div>							
                <input type="password"  class="form-control input__field" id="password02" placeholder="Re enter Password" required>
                <input type="email"  name="email" class="form-control input__field" id="email" placeholder="You@email.com" required>
                <div id="remember" class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block btn-signin" id="submitButton" type="submit">Register</button>
            </form><!-- /form -->
            <a href="/" class="forgot-password"><i class="fa fa-close"></i> Cancel Registration</a>
            
        </div><!-- /card-container -->
    </div><!-- /container -->
<!-- SUCCESS ====================== -->
    <div class="rigistrationSuccess" style="">
        <h2>Registration has been success</h2>
    </div>
	
	
</body>
</html>
<script src="/resources/js/login/register.js"></script>
<script src="/resources/js/login/registerForm.js"></script>

