<div class="ads">
    <form action="/search" method="POST">
        <input type="text" name="search" placeholder="Søg i Arkivet" class="adSearchText">
        <button class="adSearchSubmit"><i class="fa fa-search"></i></button>
    </form>
    <!-- <input type="submit" class="adSearchSubmit"> -->
    
    <div class="mostRead">
        <h2> MEST LÆSTE </h2>
        <% mostRead.forEach(function(elm){ %>
            <a href="/arkivet/artikel/<%= elm.article_id %>">
                <li><%= elm.article_headline %></li>
            </a>
        <% }) %>

    </div>
    <div class="sponser">
        <h2> SPONSER </h2>
            <% ads.forEach(function(elm){ %>
                <img src="/resources/media/ads/sponsers/<%= elm.sponsers_img %>" alt="Rekleme">
            <% }) %>
            <a href="/sponser">Din Sponser her?</a>
      
        </div>
    </div>