<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../.././partials/index/head %>
</head>
<header>
    <% include ../.././partials/index/header %>
</header>

<body>
    <main class="clearfix">
        <div class="articleContent clearfix">
                <h1>BILER</h1>
                <% include ../.././partials/index/articlesCategory %>

                
            <% var number = 1 %>
            <% for(i = 0; i <= articles.length; i++){ %>
                
                
                
                <% if(i% 5 == 0){ %>

                        <a href='/biler/<%= i %>'><%= number++ %></a>

                <% } %>
                <% } %>
         
        </div>
        <% include ../.././partials/index/sponserBar %>
        
        </div>
    </main>

    <footer class="clearfix">
        <% include ../.././partials/index/footer %>
    </footer>
</body>
<% include ../.././partials/index/afterFooter %>

</html>