<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../.././partials/index/head %>
</head>
<header>
    <% include ../.././partials/index/header %>
</header>

<body>
    <main class="clearfix">
        <div class="contactContent clearfix">
                <h1>REDAKTION</h1>
            <div class="contactInfo">
                <h2>Adresse</h2>
                <p>Vej nr</p>
                <p>By</p>
                <p>Land</p>
            </div>
            <div class="contactInfo">
                <h2>Kontakt Oplysninger</h2>
                <p>Telefon:</p>
                <p>Fax: </p>
                <p>Email: asdsdfsdf@asdasd.dk</p>
            </div>
            <form action="">
                <div>
                    <div class="contactInput01">
                        <p>Dit Navn</p>
                        <input type="text">
                    </div>
                    <div class="contactInput02">
                        <p>Din Email-Adresse</p>
                        <input type="text">
                    </div>
                    <div class="contactInput03">
                        <p>Emne</p>
                        <input type="text">
                    </div>
                    <div class="contactInput04">
                        <p>Bin Besked</p>
                        <textarea name="" id="" cols="30" rows="10"></textarea>
                    </div>
                </div>
            </form>
        </div>
        <div class="ads">
            <input type="text" value="Søg i Arkivet" class="adSearchText">
            <button class="adSearchSubmit"><i class="fa fa-search"></i></button>
            <!-- <input type="submit" class="adSearchSubmit"> -->
            
            <div class="mostRead">
                <h2> MEST LÆSTE </h2>
                <li>Article 1</li>
                <li>Article 2</li>
                <li>Article 3</li>
                <li>Article 4</li>
                <li>Article 5</li>
                <li>Article 6</li>
            </div>
            <div class="sponser">
                <h2> SPONSER </h2>
                
                    <img src="/resources/media/ads/sponsers/bike_ad_4.gif" alt="Rekleme">
              
                    <img src="/resources/media/ads/sponsers/boat_ad_4.gif" alt="Rekleme">
         
                    <img src="/resources/media/ads/sponsers/boat_ad_5.gif" alt="Rekleme">
           
                    <img src="/resources/media/ads/sponsers/car_ad_1.gif" alt="Rekleme">
                </div>
            </div>
        </div>
    </main>

    <footer class="clearfix">
        <% include ../.././partials/index/footer %>
    </footer>
</body>
<% include ../.././partials/index/afterFooter %>

</html>