<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../.././partials/index/head %>
</head>
<header>
    <% include ../.././partials/index/header %>
</header>

<body>
    <main class="clearfix">
        <div class="redaktionContent clearfix">
                <h1>REDAKTION</h1>
                <h2>Biler</h2>
            <article class="clearfix">
                <img src="/resources/media/redaktion/lil.jpg" alt="Lisa">
                <p class="redaName">Lisa</p>
                <p class="redaMail"><i class="fa fa-envelope"></i>Mail@email.dk</p>
                <p class="redaText">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                </p>
            </article>


        </div>
        <div class="ads">
            <input type="text" value="Søg i Arkivet" class="adSearchText">
            <button class="adSearchSubmit"><i class="fa fa-search"></i></button>
            <!-- <input type="submit" class="adSearchSubmit"> -->
            
            <div class="mostRead">
                <h2> MEST LÆSTE </h2>
                <li>Article 1</li>
                <li>Article 2</li>
                <li>Article 3</li>
                <li>Article 4</li>
                <li>Article 5</li>
                <li>Article 6</li>
            </div>
            <div class="sponser">
                <h2> SPONSER </h2>
                
                    <img src="/resources/media/ads/sponsers/bike_ad_4.gif" alt="Rekleme">
              
                    <img src="/resources/media/ads/sponsers/boat_ad_4.gif" alt="Rekleme">
         
                    <img src="/resources/media/ads/sponsers/boat_ad_5.gif" alt="Rekleme">
           
                    <img src="/resources/media/ads/sponsers/car_ad_1.gif" alt="Rekleme">
                </div>
            </div>
        </div>
    </main>

    <footer class="clearfix">
        <% include ../.././partials/index/footer %>
    </footer>
</body>
<% include ../.././partials/index/afterFooter %>

</html>