<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../.././partials/index/head %>
</head>
<header>
    <% include ../.././partials/index/header %>
</header>

<body>
    <main class="clearfix">
        <div class="articleContent clearfix">
                <h1>ARKIVET</h1>
                <% include ../.././partials/index/articlesCategory %>


   

        </div>
        <% include ../.././partials/index/sponserBar %>

        </div>
    </main>

    <footer class="clearfix">
        <% include ../.././partials/index/footer %>
    </footer>
</body>
<% include ../.././partials/index/afterFooter %>

</html>