<!DOCTYPE html>
<html lang="en">
<head>

                
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/modules/textboxio-client/textboxio/textboxio.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="/resources/css/cssAdmin/newArticle.css">    
    <link rel="stylesheet" href="/resources/css/cssAdmin/adminNav.css">
    <link rel="stylesheet" href="/resources/css/cssAdmin/main.css">
    <link rel="stylesheet" href="/resources/css/cssAdmin/adminUsers.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Buy Shoes Dot Com</title>
</head>
    <% include ../.././partials/admin/adminNav %>
</header>
<body>
    <main>
        <!-- <h1>Users</h1> -->


        <% if(userSite == "allUsers"){ %>

            <!-- <div style="margin-bottom: 250px;"></div> -->
    
        
        
        <div class="card mb-5">
            <div class="card-header">Brugere</div>
            <div class="card-block p-0">
                <table class="table table-bordered table-sm m-0">

                    <thead class="">
                        <tr>
                            <th>Admin Role</th>
                            <th>Name</th>
                            <th>E-mail address</th>
                            <th>Edit User</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% authors.forEach(function(elm){ %>
                            <tr>
                                <td>
                                    <label class="custom-control custom-checkbox">
                                        <input type="checkbox" onclick="return false;" class="custom-control-input"
                                        <% if (elm.fk_user_role == 1) { %>
                                            checked
                                        <% } %>
                                        >
                                        <span class="custom-control-indicator"></span>
                                    </label>
                                </td>
                                <td><%= elm.author_name %></td>
                                <td><%= elm.author_email %></td>
                                <td><a href="/admin/users/<%= elm.author_id %>"><i class="fa fa-arrow-circle-o-right" style="font-size:24px"></i></a></td>
                            </tr>
                    
                        <% }) %>
                       
                    </tbody>
                </table>
            </div>
        </div>
        <% } else if(userSite == "oneUser"){ %>

            <% include ../.././partials/admin/users/oneUser %>
                

        <% } %>

    </main>
</body>
</html>

<script src="/resources/js/jsAdmin/dashboard.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>




<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> -->
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

           
       